body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:80px;
}
#u49 {
  position:absolute;
  left:2px;
  top:32px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:688px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:0px;
  top:80px;
  width:1400px;
  height:688px;
}
#u51 {
  position:absolute;
  left:2px;
  top:336px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:48px;
}
#u52 {
  position:absolute;
  left:101px;
  top:16px;
  width:165px;
  height:48px;
}
#u53 {
  position:absolute;
  left:2px;
  top:16px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
}
#u54 {
  position:absolute;
  left:1042px;
  top:26px;
  width:106px;
  height:38px;
  color:#000000;
}
#u55 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
}
#u56 {
  position:absolute;
  left:1168px;
  top:26px;
  width:106px;
  height:38px;
}
#u57 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:101px;
  top:0px;
  width:293px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u59 {
  position:absolute;
  left:452px;
  top:29px;
  width:37px;
  height:22px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u61 {
  position:absolute;
  left:546px;
  top:29px;
  width:73px;
  height:22px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u63 {
  position:absolute;
  left:672px;
  top:29px;
  width:73px;
  height:22px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u65 {
  position:absolute;
  left:799px;
  top:29px;
  width:73px;
  height:22px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:110px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.63921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:0px;
  top:80px;
  width:1400px;
  height:110px;
}
#u68 {
  position:absolute;
  left:2px;
  top:47px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u69 {
  position:absolute;
  left:114px;
  top:103px;
  width:113px;
  height:33px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u71 {
  position:absolute;
  left:114px;
  top:153px;
  width:385px;
  height:19px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
