body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:80px;
  width:1400px;
  height:600px;
}
#u3 {
  position:absolute;
  left:2px;
  top:292px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:48px;
}
#u4 {
  position:absolute;
  left:101px;
  top:16px;
  width:165px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
}
#u6 {
  position:absolute;
  left:1042px;
  top:26px;
  width:106px;
  height:38px;
  color:#000000;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
}
#u8 {
  position:absolute;
  left:1168px;
  top:26px;
  width:106px;
  height:38px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:101px;
  top:0px;
  width:293px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:600px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.63921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:0px;
  top:80px;
  width:1400px;
  height:600px;
}
#u12 {
  position:absolute;
  left:2px;
  top:292px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:682px;
}
#u13 {
  position:absolute;
  left:0px;
  top:84px;
  width:1400px;
  height:682px;
}
#u14 {
  position:absolute;
  left:2px;
  top:333px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u15 {
  position:absolute;
  left:452px;
  top:29px;
  width:37px;
  height:22px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u17 {
  position:absolute;
  left:546px;
  top:29px;
  width:73px;
  height:22px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u19 {
  position:absolute;
  left:672px;
  top:29px;
  width:73px;
  height:22px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u21 {
  position:absolute;
  left:799px;
  top:29px;
  width:73px;
  height:22px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
